<html>
<ul>
       Internal hostname :  <li> <%= @internal_hostname %> </li>
       System1 Name  :  <li> <%= @internal_hostname1 %> </li>
       System2 Name  :  <li> <%= @internal_hostname2 %> </li>

</ul>
</html>
